.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    height: 72px;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 16px;
}

.header>.container>img {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    flex-shrink: 0;
}

.header>.container>p {
    margin: 0;
    align-self: center;
    margin-left: 16px;
    font-size: 24px;
    color: #F9FAF8;
    flex-shrink: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:visited {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 72px;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 16px
}

.footer>p {
    flex-shrink: 0;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.content>.container>img {
    width: 400px;
    height: 200px;
}

.container {
    display: flex;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#first {
    background-color: #1f2937;
    justify-content: space-around;
    padding-top: 48px;
}

#first>.container {
    flex-direction: column;
    width: 400px;
    height: 200px;
}

#first>.container>h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

#first>.container>p {
    margin: 0;
    color: #E5E7EB;
}

#2 {

}

#3 {

}

#4 {

}