.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    height: 72px;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 16px;
}

.header>.container>img {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    flex-shrink: 0;
}

.header>.container>p {
    margin: 0;
    align-self: center;
    margin-left: 16px;
    font-size: 24px;
    color: #F9FAF8;
    flex-shrink: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:visited {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 72px;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 16px
}

.footer>p {
    flex-shrink: 0;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.content>.container>img {
    width: 400px;
    height: 200px;
}

.container {
    display: flex;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: black;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
    text-align: center;
    align-items: center;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 4px solid #3882F6;
}

#first {
    background-color: #1f2937;
    justify-content: space-around;
    padding-top: 48px;
    padding-bottom: 100px;
    align-items: center;
}

#first>.container>button {
    width: 120px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 0;
    border: 0;
    border-radius: 8px;
    font-weight: bolder;
    margin-top: 12px;
    padding: 12px;
}

#first>.container {
    flex-direction: column;
    width: 350px;
    height: 200px;
}

#first>.container>h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

#first>.container>p {
    margin: 0;
    color: #E5E7EB;
}

#second {
    background-color: white;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 90px;
}

#second h2 {
    text-align: center;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 36px;
}

#second>.container {
    justify-content: center;
    gap: 48px;
}

#third {
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#third>.container {
    flex-direction: column;
    align-items: center;
}

#third>.container>p {
    width: 800px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
    margin: 0;
}

#third>.container>div {
    align-self: flex-end;
    font-weight: bolder;
    color: #1f2937;
}

#fourth {
    background-color: white;
}